@import "./vars.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

*,
::after,
::before {
  box-sizing: border-box;
}

main {
  margin: auto;
  padding: 1.5rem;
  max-width: 60ch;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-table;
  border-radius: 50%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: var(--header-height);
}

.nav a {
  display: block;
}

.logo,
#menu {
  display: flex;
  margin: auto var(--gap);
}

.logo {
  flex-wrap: inherit;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
}

.logo a img,
.logo a svg {
  display: inline;
  vertical-align: middle;
  pointer-events: none;
  transform: translate(0, -10%);
  border-radius: 6px;
  margin-inline-end: 8px;
}

#menu {
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}

#menu li + li {
  margin-inline-start: var(--gap);
}

#menu a {
  font-size: 16px;
}

#menu .active {
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

.logo-switches {
  flex-wrap: inherit;
}

#menu ul {
  padding: 0;
}

html.dark {
  background: var(--bg-color);
  color: var(--text-color);
}

.dark .nav-links a {
  color: #fff;
}

html {
  background: var(--bg-color);
  color: var(--text-color);
}

time {
  color: var(--text-color);
}

.present-time,
.split {
  color: var(--text-color);
}

.buttons {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

#experience,
#projects,
#education {
  padding: 6px;
  margin: 8px;
  border-radius: var(--radius);
  background-color: var(--home-link-color);
  --tw-bg-opacity: 1;
  color: var(--text-color);
}

p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
}

a:not(.name, #menu a) {
  text-decoration: underline;
}
