@import "@catppuccin/palette/css/catppuccin.css";

:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --bg-color: var(--ctp-latte-base);
  --text-color: var(--ctp-latte-text);
  --subtext-color: var(--ctp-latte-subtext1);
  --accent-color: var(--ctp-latte-blue);
  --home-link-color: var(--ctp-latte-surface0);
}

:root.dark {
  --bg-color: var(--ctp-mocha-base);
  --text-color: var(--ctp-mocha-text);
  --subtext-color: var(--ctp-mocha-subtext1);
  --accent-color: var(--ctp-mocha-mauve);
  --card-color: var(--ctp-mocha-surface0);
  --home-link-color: var(--ctp-mocha-mantle);
}
