---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <main class="main">
    <h1>Hello! My name is Jacob Biehler</h1>
    <p>
      I am a full stack software engineer with professional and hobby experience
      with Typescript, React, Java, Python, Docker, and more.
    </p>
    <p>
      I am passionate about Linux and Free and Open Source Software and
      Hardware. In my spare time I enjoy working on hobby software projects,
      learning programming languages, playing video games, going on hikes, bike
      rides, and camping. I also enjoy watching anime and reading manga and
      light novels.
    </p>
  </main>
</Layout>
