---
import Layout from "@layouts/Layout.astro";
import pfp from "@assets/pfp.webp";
import SocialIcons from "@components/SocialIcons.astro";
import "@styles/global.css";
---

<Layout title="Jacob Biehler">
  <main>
    <div class="profile">
      <img
        class="profile"
        src={pfp.src}
        width="150"
        height="150"
        alt="Jacob Biehler's profile picture"
      />
      <h1>Jacob Biehler</h1>
      <span>Software Engineer and FOSS Enthusiast</span>
    </div>
    <SocialIcons />
    <button type="button"><a href="/about">About Me</a></button>
    <button type="button"><a href="/experience">Experience</a></button>
    <button type="button"><a href="/projects">Projects</a></button>
    <button type="button"><a href="/education">Education</a></button>
  </main>
</Layout>
