---
import Layout from "@layouts/Layout.astro";
import pfp from "@assets/pfp.webp";
import SocialIcons from "@components/SocialIcons.astro";
import "@styles/global.css";
---

<Layout title="Jacob Biehler">
  <main class="main">
    <div class="profile">
      <img
        class="profile"
        src={pfp.src}
        width="150"
        height="150"
        alt="Jacob Biehler's profile picture"
      />
      <h1>Jacob Biehler</h1>
      <span>Software Engineer and FOSS Enthusiast</span>
    </div>
    <SocialIcons />
    <div class="buttons">
      <a
        id="experience"
        class="px-6 py-3 no-underline rounded hover:underline"
        href="/experience"
      >
        <span>Experience</span>
      </a>
      <a
        id="projects"
        class="px-6 py-3 no-underline rounded hover:underline"
        href="/projects"
      >
        <span>Projects</span>
      </a>
      <a
        id="education"
        class="px-6 py-3 no-underline rounded hover:underline"
        href="/education"
      >
        <span>Education</span>
      </a>
    </div>
  </main>
</Layout>
