---
import { format } from "date-fns";
const fullDate = new Date();
const year = format(fullDate, "yyyy");
---

<footer>
  <span class="sticky">
    © {year}
    <a
      class="footer-link"
      href="https://github.com/biehlerj/biehlerj.xyz"
      target="_blank"
      rel="noopener noreferrer me"
    >
      Jacob Biehler
    </a>
  </span>
  <span>
    Powered by
    <a
      class="footer-link"
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer me">Astro</a
    >
  </span>
</footer>

<style>
  footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    text-align: center;
    line-height: 24px;
  }

  footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
  }
</style>
