---
import "@styles/global.css";
import MultiDate from "@components/MultiDate.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const allExperience = await getCollection("experience");
---

<Layout title="Experience">
  <main class="main">
    <header>
      <h1>Experience</h1>
    </header>
    {
      allExperience.map((experience) => {
        const title = experience.data.title;

        return (
          <a href={`/experience/${experience.slug}`}>
            <article>
              <header>
                <h2>{title}</h2>
              </header>
              <p>
                <MultiDate
                  firstDate={experience.data.beginDate}
                  secondDate={experience.data.endDate}
                />
              </p>
            </article>
          </a>
        );
      })
    }
  </main>
</Layout>
