---
import "@styles/global.css";
import MultiDate from "@components/MultiDate.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

const allExperience = await getCollection("experience");
allExperience.sort(
  (a, b) => b.data.beginDate.getTime() - a.data.beginDate.getTime()
);
---

<Layout title="Experience">
  <main class="main">
    <header>
      <h1>Experience</h1>
    </header>
    {
      allExperience.map((experience) => {
        console.log(experience);
        const title = experience.data.title;
        const begin = experience.data.beginDate;
        const end = experience.data.endDate;

        return (
          <Card href={`/experience/${experience.slug}`} title={title}>
            <MultiDate firstDate={begin} secondDate={end} />
          </Card>
        );
      })
    }
  </main>
</Layout>
