---
import "@styles/global.css";
import Date from "@components/Date.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Card from "@components/Card.astro";

const allProjects = await getCollection("projects");
allProjects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Projects">
  <main class="main">
    <header>
      <h1>Projects</h1>
    </header>
    {
      allProjects.map((project) => {
        const title = project.data.title;
        const date = project.data.date;

        return (
          <Card href={`/projects/${project.slug}`} title={title}>
            <Date date={date} />
          </Card>
        );
      })
    }
  </main>
</Layout>
