---
import MonthYearDate from "@components/MonthYearDate.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="main">
    <article class="prose text-justify">
      <h1>{frontmatter.title}</h1>
      <div>
        <MonthYearDate date={frontmatter.date} />
      </div>
      <slot />
    </article>
  </div>
</Layout>
