---
import MultiDate from "@components/MultiDate.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <h1>{frontmatter.title}</h1>
    <div>
      <MultiDate
        firstDate={frontmatter.beginDate}
        secondDate={frontmatter.endDate}
      />
    </div>
    <slot />
  </article>
</Layout>
