---
import MultiDate from "@components/MultiDate.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <p>
      <MultiDate
        firstDate={frontmatter.beginDate}
        secondDate={frontmatter.endDate}
      />
    </p>
    <slot />
  </article>
</Layout>
